<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .button-container {
            text-align: right;
            margin-right: 20px; 
        }
        .button
          {  background-color: #000000;
            color: #fff;
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer}
        .delete-button {
            background-color: #ff0000; /* Choose your delete button color */
            color: #fff;
            border: none;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            border-radius: 3px;
            cursor: pointer;
        }
   </style>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <div class="button-container">
        <a href="http://localhost/newuser" class="button">Create New User</a>
    </div>
    <h1>Student Data</h1>
    <table>
        <thead>
            <tr>
                <th>Fname</th>
                <th>Lname</th>
                <th>Age</th>
                <th>Class</th>
                <th>Gender</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < result.length; i++) { %>
                <tr id="row<%= result[i].ID %>">
                    <td><input class="in" id="<%=result[i].ID%>.fname" type="text" value="<%= result[i].fname %>"></td>
                    <td><input class="in" id="<%=result[i].ID%>.lname" type="text" value="<%= result[i].lname %>"></td>
                    <td><input class="in" id="<%=result[i].ID%>.Age" type="text" value="<%= result[i].Age %>"></td>
                    <td><input class="in" id="<%=result[i].ID%>.Class" type="text" value="<%= result[i].Class %>"></td>
                    <td><input class="in" id="<%=result[i].ID%>.gender" type="text" value="<%= result[i].gender %>"></td>
                    <td>
                        <button onclick="editRow(<%= result[i].ID %>)" class="edit-button">save</button>
                    </td>
                    <td>
                        <form action="/delete" method="POST" class="delete-form">
                            <input type="hidden" name="id" value="<%= result[i].ID %>">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>

    <script>
        function editRow(id) {
            const data = {
                    id: id,
                    fname: document.getElementById(`${id}.fname`).value,
                    lname: document.getElementById(`${id}.lname`).value,
                    Age: document.getElementById(`${id}.Age`).value,
                    Class: document.getElementById(`${id}.Class`).value,
                    gender: document.getElementById(`${id}.gender`).value,
            }
            fetch('/update', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data),
            })
        }
    </script>
</body>